<h1>New Event</h1>

<%= render 'form', event: @event %>

<% if @event.classroom.blank? %>
  <%= link_to 'Back', classrooms_path %>
<% else %>
  <%= link_to 'Back', classroom_path(@event.classroom) %>
<% end %>
